body {
	color: #2b2b2b;
	background-color: #fbfbfb;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
}

h1 {
	text-decoration: underline;
}

.example {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}

.example--0 .element,
.example--1 .element {
	float: left;
	width: 50%;
}

.editableElement,
.element {
	float: left;
	width: 50%;
	min-height: 100px;
	background-color: #eee;
	font-size: 30px;
	overflow-wrap: break-word;
	box-sizing: border-box;
}
